@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&family=Space+Mono:wght@700&display=swap");

:root {
  --Strong--cyan: hsl(172, 67%, 45%);

  --Very-dark--cyan: hsl(183, 100%, 15%);
  --Dark-grayish--cyan: hsl(186, 14%, 43%);
  --Grayish--cyan: hsl(184, 14%, 56%);
  --Light-grayish--cyan: hsl(185, 41%, 84%);
  --Very-light--grayish--cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}
body {
  background-color: var(--Light-grayish--cyan);
}
* {
  margin: 0;
  padding: 0;
}
html {
  position: relative;
  min-height: 100%;
  font-family: "Space Mono", monospace;
}

.splitter {
  text-align: center;
  justify-content: center;
  color: var(--Dark-grayish--cyan);
}

.sarmala {
  width: 100%;
  max-width: 98%;
  align-items: center;
  margin-top: 10%;
}
.box {
  background-color: #fff;
  height: 450px;
  width: 800px;
  border-radius: 25px;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  border: 40px solid #fff;
}
.icindekiler {
  display: flex;
  justify-content: space-between;
}
.sol {
  padding: 1%;
}
.sag {
  background-color: var(--Very-dark--cyan);
  height: 450px;
  width: 450px;
  border-radius: 20px;
}
.sag > .box {
  border: 40px solid var(--Very-dark--cyan);
  background-color: var(--Very-dark--cyan);
  height: 350px;
  width: 350px;
  border-radius: 20px;
}
.user_bill {
  width: 100%;
  line-height: 39px;
  padding: 0px 15px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid var(--Very-light--grayish--cyan);
  border-radius: 2px;
  box-sizing: border-box;
  background-color: var(--Very-light--grayish--cyan);
}
::placeholder {
  color: var(--Grayish--cyan);
  font-size: 18px;
}
.second-selection {
  margin-top: 15%;
}
p {
  color: var(--Dark-grayish--cyan);
}
.box1,
.box2,
.box3 {
  border-radius: 5px;
  box-sizing: border-box;
  background-color: var(--Very-dark--cyan);
  width: 100px;
  height: 45px;
  text-align: center;
  justify-content: center;
  /* height ile aynı değeri verdiğimde y düzleminde yazılar ortalandı */
  line-height: 45px;
  cursor: pointer;
}

.box2,
.box3 {
  margin-left: 10px;
}
.row1,
.row2 {
  display: flex;
  margin-top: 20px;
}
.row2 > .box3 {
  border: 1px solid var(--Very-light--grayish--cyan);
  border-radius: 2px;
  box-sizing: border-box;
  background-color: var(--Very-light--grayish--cyan);
  color: var(--Very-dark--cyan);
}
.row1 > .box1 > span,
.row1 > .box2 > span,
.row1 > .box3 > span,
.row2 > .box1 > span,
.row2 > .box2 > span {
  color: #fff;
}
.row1 > .box1 > span,
.row1 > .box2 > span,
.row1 > .box3 > span,
.row2 > .box1 > span,
.row2 > .box2 > span,
.row2 > .box3 > span {
  font-size: 23px;
}
.row2 > .box3 > span > input {
  border: 1px solid var(--Very-light--grayish--cyan);
  border-radius: 2px;
  box-sizing: border-box;
  background-color: var(--Very-light--grayish--cyan);
  width: 100px;
  height: 45px;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
}
.third-selection {
  margin-top: 60px;
}
.people_icon {
  margin-top: 22px;
  margin-left: 5%;
  position: absolute;
}
.people-input,
.first_input {
  position: relative;
}
.people-input > img {
  width: 4%;
  height: auto;
}
.people-input > input,
.bill_input > input {
  text-align: right;
  font-size: 20px;
}
.kaydır {
  margin-top: 10px;
}
.yukarı {
  margin-top: 15px;
}
input:focus {
  outline: none;
  border: 1px solid var(--Very-light--grayish--cyan);
}
.first {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tip-amount {
  color: var(--Light-grayish--cyan);
  display: inline-grid;
  font-size: 18px;
}
.tip-amount > span {
  color: var(--Grayish--cyan);
  font-size: 13px;
}
.right-field {
  display: flex;
}
.increase {
  font-size: 40px;
  color: var(--Strong--cyan);
  display: flex;
}
.increase > .dolar {
  width: 20px;
  height: 30px;
  position: relative;
  margin-top: 14%;
  margin-right: 2%;
}
.second {
  margin-top: 20%;
  display: flex;
  justify-content: space-between;
}
.third {
  margin-top: 32%;
}
.third > button {
  background-color: var(--Dark-grayish--cyan);
  border: 0;
  width: 100%;
  box-sizing: content-box;
  height: 48px;
  border-radius: 5px;
  cursor: pointer;
}
.third > button > span {
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  color: var(--Very-dark--cyan);
  opacity: 14%;
}
.third > button:hover {

  background-color: var(--Grayish--cyan);
}

.yan{
  display: flex;
  align-items: center;
}
/* kullanıcı 0 girdiğinde ortaya çıksın */
.alert{ 
  font-size: 10px;
  color: red;
  margin-left: 6%;
}